main {
    padding: 120px 24px;
}

main .wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    margin: 0 auto;
  }
  main img {
    max-height: 600px;
    max-width: 100%;
  }

  main .wrap div {
    width: 100%;
    max-width: 650px;
  }
  main .wrap div h1 {
    color: var(--primary-100);
  }

  main .wrap div ol li, p, h1{
    margin-top: 15px;
    text-align: justify;
  }

  .message{
    padding: 80px 36px;
    background: var(--black-20);
    margin-bottom: 80px;
  }
  
  .message h3 {
    text-align: center;
    margin: 0 auto;
    color: var(--black-50);
    line-height: 28px;
  }

@media (max-width: 450px) {
    main {
        padding: 80px 24px;
    }
}